<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/style.css" rel="stylesheet">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form action="/topic/add" method="POST" role="role" class="form-horizontal">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h1>Post form</h1>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-1">
                            <h1> <%= blogs.title%> </h1>
                            </br>
                            </br>
                            </br>
                        </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <p> <%= blogs.description%> </p>
                        </div>
                    </div>
                    </div>
                    <div class="form-group">
                        <form action='/topic/<%= blogs._id %>/delete' method='POST'>
                            <p>
                                <input type="submit" name="" value="삭제하기">
                            </p>      
                        </form>
                        <p>
                            <a href='/topic/<%= blogs._id %>/delete'> 삭제하기 </a>
                        </p>
                        <div class="col-sm-10 col-sm-offset-1">
                            <button type="submit" class="btn btn-block btn-info">삭제하기</button>
                        </div>
                        <div class="col-sm-10 col-sm-offset-1">
                            <button type="submit" class="btn btn-block btn-info">수정하기</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

</html>
