<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/style.css" rel="stylesheet">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <style>
        body {}
        .Message-box{
            /*width:600px !important;*/
            height: 100px !important;
        }
        .comment{
            padding: 0 15px;
        }
    </style>
</head>

<body>
    <!--top nav-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form action="/topic/add" method="POST" role="role" class="form-horizontal">
                    <div class="col-sm-8">
                    </div>
                    <!--blog title-->
                    <div class="form-group">
                        <div class="col-sm-8">
                            <h1>
                                <%= blogs.title%>
                            </h1>
                            </br>
                            </br>
                            </br>
                        </div>
                        <!--blog description-->
                        <div class="form-group">
                            <div class="col-sm-8">
                                <p>
                                    <%= blogs.description%>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <div id="comments">
                                            <h2>Comments</h2>
                                            <div class="row">
                                                <div class="row col-md-11">
                                                    <p>
                                                        댓글...
                                                    </p>
                                                    <footer>
                                                        <small><b>Author</b> Commented on: 2017.4.27</small>
                                                        <hr>
                                                    </footer>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--edit href-->
                            <p>
                                <a href='/api/topic/<%= blogs._id %>/delete'> 삭제하기 </a>
                                <a href=#> 수정하기 </a>
                            </p>
                        </div>
                <!--comment input-->
                </form>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <form action="" method="POST" role="form">
                                <legend>Have your say</legend>
                                <div class="comment">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="" placeholder="Author">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control Message-box">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-info btn-sm">Send message</button>
                            </form>
                        </div>
                    </div>
                </div>
                <nav>
                    <ul class="pager">
                        <li><a href="#">Previous</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </nav>
                </div>
            </div>
        </div>

        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

</html>