<!DOCTYPE html>
<html lang="en">
    <head>
        <title>boad</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link rel="stylesheet" type="text/css" href="style.css">-->
        <!--<link href="css/style.css" rel="stylesheet">-->
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <style>
            .page {
                display: flex;
                justify-content: center;
            }
            .button {
                margin-left:10px;
            }
        </style>
    </head>
    <body>
        <h1>CERT-COMMUNITY</h1>
        <hr>
        <!--table-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>날짜</th>
                    <th>조회수</th>
                    <th>댓글수</th>
                </tr>
            </thead>
            <tbody>
                <% for (var i = 0; i < blogs.length; i++) { %>
                    <!--var blogs = blogs[i].title %>-->
                    <tr>
                        <td><%= i %></td>
                        <td><a href='/api/topic/<%= blogs[i]._id %>'> <%= blogs[i].title %> </a></td>
                        <td>admin</td>
                        <td><%= blogs[i].createdAt.toLocaleString() %></td>
                        <td>2</td>
                        <td>0</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <hr>
        
        <a class="button btn btn-md btn-primary" href="/api/topic/add" role="button">글쓰기</a>
        
        <nav class="page">
            <ul class="pagination">
                <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
            </ul>
            </nav>
            
        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </body>
</html>