<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link rel="stylesheet" type="text/css" href="style.css">-->
        <link href="css/style.css" rel="stylesheet">
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    <body>
        <h1>부트스트랩 게시판</h1>
        <h1>부트스트랩 게시판</h1>
        <!--navigation-->

        
        <!--<form action="" method="POST" role="form">
            <legend>Form title</legend>
        
            <div class="form-group">
                <label for="">label</label>
                <input type="text" class="form-control" id="" placeholder="Input field">
            </div>
        
            
        
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        -->
        
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
        </ul>
        <!--table-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>날짜</th>
                    <th>조회수</th>
                    <th>댓글수</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>165</td>
                    <td>입문자를 위한 안내</td>
                    <td>admin</td>
                    <td>2013.06.21</td>
                    <td>2</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>165</td>
                    <td>웹사이트를 만들 때 유용한 도구들</td>
                    <td>admin</td>
                    <td>2013.06.21</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>165</td>
                    <td>워드프레스 게시판 사용법1</td>
                    <td>admin</td>
                    <td>2013.06.21</td>
                    <td>2</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>  
        <nav class="page">
            <ul class="pagination">
                <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
            </ul>
            </nav>
        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </body>
</html>