.page {
    display : flex;
    justify-content : center;
}

/*add.ejs*/

body {
    background-color: rgb(0%, 50.4%, 90.2%) !important;
}

form{
    background-color:white;
    padding:20px;
    margin-top:60px;
    padding-bottom: 60px; 
    border-radius:5px;
}
